<head>
    <link rel="stylesheet" href="~/CSS/Registro/E_Impresoras.css">
</head>
<body>
    <section class="body-general">
        <div class="row">
            <div class="box-header d-flex justify-content-between">
                <!-- Menu de Botones -->
                <div class="btn-group">
                    <button id="btnAgregar" data-bs-toggle="modal" data-bs-target="#Agregar" type="button" class="btn" title="Agregar">
                        <i class="icon fa-regular fa-square-plus"></i>
                    </button>
                    <button id="btnRefrescar" type="button" class="btn" title="Actualizar"><i class="icon fa fa-refresh"></i></button>
                </div>
                <div class="box-text">
                    <input type="text" class="form-control" placeholder="Buscar" id="txtBuscar">
                    <button type="button" id="btnBuscar" class="btn"><i class="fa-solid fa-magnifying-glass"></i></button>
                </div>
            </div>
            <div class="box-body">
                <table class="table  table-striped">
                    <thead>
                        <!-- Encabezado de las columnas -->
                        <tr>
                            <th class="text-center" style="width: 5%">Orden</th>
                            <th class="text-center" style="width: 24%">Área / Sección</th>
                            <th class="text-center" style="width: 24%">Responsable</th>
                            <th class="text-center" style="width: 8%">Cód. P.F</th>
                            <th class="text-center" style="width: 10%">Marca</th>
                            <th class="text-center" style="width: 10%">Estado</th>
                            <th class="text-center" style="width: 8%">C. Tinta</th>
                            <th class="text-center" style="width: 11%">Acciones</th>
                        </tr>
                    </thead>
                    <tbody id="grilla-impresoras">
                    </tbody>
                </table>
            </div>

            <!-- /.box-body -->
            <div class="box-footer">
                <div class="pull-right">
                    <div class="btn-group">
                        <button type="button" class="btn" id="btnAnterior"><i class="fa fa-chevron-left"></i></button>
                        <button type="button" class="btn" id="btnSiguiente"><i class="fa fa-chevron-right"></i></button>
                    </div>
                    <span id="contadorRegistros"></span>
                </div>
            </div>
        </div>

    </section>



    <!-- Modal -->
    <div class="modal fade" id="Agregar" tabindex="-1" aria-labelledby="AgregarAreaLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <img src="~/Image/ic_launcher_logo.png">
                    <h5 class="modal-title" id="AgregarAreaLabel"></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <form id="formAreas">
                            <div class="row">

                                <div class="col-sm-12 espacio">

                                </div>
                                <div class="col-sm-12">
                                    <label class="Title-form-group" for="desc">Descripción Impresora</label>
                                    <hr>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="Areas">Area</label>
                                        <select name="options" id="cmbArea" class="form-control">
                                            <option value="0">Seleccione...</option>
                                        </select>
                                        <span class="d-none span-error" id="errorvacio1">
                                            *Dato incorrecto
                                        </span>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="Seccion">Seccion</label>
                                        <select name="options" id="cmbSeccion" class="form-control">
                                            <option value="0">Seleccione...</option>
                                        </select>
                                        <span class="d-none span-error" id="errorvacio1">
                                            *Dato incorrecto
                                        </span>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="Usuario">Responsable</label>
                                        <input type="text" id="txtResponsable" name="Responsable" class="form-control">
                                        <i class="fa-regular fa-circle-question"></i>
                                        <div class="info-tooltip">Colocar el código de Usuario</div>
                                        <span class="d-none span-error" id="errorvacio3">
                                            *Dato incorrecto
                                        </span>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label for="Contraseña">Codigo P.F</label>
                                        <input type="text" id="txtCodigoPF" name="CodigoPF" class="form-control">
                                        <span class="d-none span-error" id="errorvacio2">
                                            *Dato incorrecto
                                        </span>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label for="Nombre">Marca</label>
                                        <input type="text" id="txtMarca" name="Marca" class="form-control">
                                        <span class="d-none span-error" id="errorvacio4">
                                            *Dato incorrecto
                                        </span>
                                    </div>
                                </div>


                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label for="Areas">Estado</label>
                                        <select name="options" class="form-control" id="cmbEstado">
                                            <option value="0">Seleccione...</option>
                                            <option value="1">Funcional</option>
                                            <option value="2">En Revisión</option>
                                            <option value="3">No Funcional</option>
                                        </select>
                                        <span class="d-none span-error" id="errorvacio5"> *Dato incorrecto</span>
                                    </div>
                                </div>

                                <div class="col-sm-12 espacio">

                                </div>

                                <div class="col-sm-12">
                                    <label class="Title-form-group" for="Desc">Descripción Tinta</label>
                                    <hr>
                                </div>

                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label for="ttinta">Tipo Tinta</label>
                                        <select name="options" class="form-control" id="cmbTtinta">
                                            <option value="0">Seleccione...</option>
                                            <option value="1">Cartucho</option>
                                            <option value="2">Tóner</option>
                                        </select>
                                        <span class="d-none span-error" id="errorvacio6"> *Dato incorrecto</span>
                                    </div>
                                </div>


                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label class="d-none" id="lblcodigo" for="Nombre">Código Tinta</label>
                                        <input type="text" id="txtCtinta" name="Ctinta" class="d-none form-control">
                                    </div>
                                </div>


                            </div>


                            <input type="hidden" id="editId" name="id" value="0">
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn-modal" id="btnGuardar">Guardar</button>
                    <button type="button" class="btn-modal" data-bs-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>


    <!-- Modal -->
    <div class="modal fade" id="Agregar-revision" tabindex="-1" aria-labelledby="AgregarAreaLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <img src="~/Image/ic_launcher_logo.png">
                    <h5 class="modal-title" id="AgregarAreaLabel"></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <!-- Barra de tinta -->
                        <div class=" barra-container">
                            <div class="cylinder-container black">
                                <div class="cylinder" id="cylinder-black">
                                    <div class="ink-level" id="ink-level-black"></div>
                                </div>
                                <div class="controls">
                                    <button class="control-button" data-cylinder="black" data-level="alto">A</button>
                                    <button class="control-button" data-cylinder="black" data-level="medio">M</button>
                                    <button class="control-button" data-cylinder="black" data-level="bajo">B</button>
                                </div>
                            </div>

                            <div class="cylinder-container cyan">
                                <div class="cylinder" id="cylinder-cyan">
                                    <div class="ink-level" id="ink-level-cyan"></div>
                                </div>
                                <div class="controls">
                                    <button class="control-button" data-cylinder="cyan" data-level="alto">A</button>
                                    <button class="control-button" data-cylinder="cyan" data-level="medio">M</button>
                                    <button class="control-button" data-cylinder="cyan" data-level="bajo">B</button>
                                </div>
                            </div>

                            <div class="cylinder-container yellow">
                                <div class="cylinder">
                                    <div class="ink-level" id="ink-level-yellow"></div>
                                </div>
                                <div class="controls">
                                    <button class="control-button" data-cylinder="yellow" data-level="alto">A</button>
                                    <button class="control-button" data-cylinder="yellow" data-level="medio">M</button>
                                    <button class="control-button" data-cylinder="yellow" data-level="bajo">B</button>
                                </div>
                            </div>

                            <div class="cylinder-container magenta">
                                <div class="cylinder">
                                    <div class="ink-level" id="ink-level-magenta"></div>
                                </div>
                                <div class="controls">
                                    <button class="control-button" data-cylinder="magenta" data-level="alto">A</button>
                                    <button class="control-button" data-cylinder="magenta" data-level="medio">M</button>
                                    <button class="control-button" data-cylinder="magenta" data-level="bajo">B</button>
                                </div>
                            </div>
                        </div>
                        <!-- Botón para actualizar -->
                        <div class="boton-container">
                            <div>
                                <div class="form-group">
                                    <label for="Nombre">Observacion</label>
                                    <textarea type="text" id="txtObservacion" name="Observacion" class="form-control"></textarea>
                                </div>
                            </div>
                            <button id="btnActualizar" class="btn btntinta" title="Actualizar"><i class="fa-solid fa-arrows-rotate"></i></button>
                        </div>
                    </div>
                </div>

                <div class="modal-grilla">
                    <div class="box-body">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th class="text-center" style="width: 5%">Orden</th>
                                    <th class="text-center" style="width: 10%">Black</th>
                                    <th class="text-center" style="width: 10%">Cyan</th>
                                    <th class="text-center" style="width: 10%">Yellow</th>
                                    <th class="text-center" style="width: 10%">Magenta</th>
                                    <th class="text-center" style="width: 45%">Observación</th>
                                    <th class="text-center" style="width: 10%">Fecha Rev.</th>
                                </tr>
                            </thead>
                            <tbody id="grilla-tintas">
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn-modal visually-hidden" id="btnGuardar">Guardar</button>
                    <button type="button" class="btn-modal" data-bs-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Mostrar alerta -->
    <div id="alertContainer"></div>

    <!-- Botones para editar y eliminar (ocultos) -->
    <div id="templates" style="display: none;">
        <button class="btn  btneditar" data-id="" title="Editar"><i class="fa-solid fa-pen-to-square"></i></button>
        <button class="btn  btnrevision" data-id="" data-bs-toggle="modal" data-bs-target="#Agregar-revision" title="Revision"><i class="fa-regular fa-clipboard"></i></button>
        <button class="btn  btneliminar" data-id="" title="Eliminar"><i class="fa-regular fa-trash-can"></i></button>
    </div>





    <script>
        var urlAgregarRegistroImpresora = '@Url.Action("AgregarRegistroImpresora", "Registro")';
        var urlObtenerRegistroImpresoraxId = '@Url.Action("ObtenerRegistroImpresoraxId", "Registro")';
        var urlEliminarRegistroImpresora = '@Url.Action("EliminarRegistroImpresora", "Registro")';
        var urlListarRegistroImpresora = '@Url.Action("ListarRegistroImpresora", "Registro")';
        var urlLlenarComboArea = '@Url.Action("LlenarComboArea", "General")';
        var urlLlenarComboSeccion = '@Url.Action("LlenarComboSeccion", "General")';
        var urlTraerUsuario = '@Url.Action("TraerUsuario", "Registro")';
        var urlActualizarRegistroTinta = '@Url.Action("ActualizarRegistroTinta", "Registro")';
        var urlObtenerRegistroTintaxId = '@Url.Action("ObtenerRegistroTintaxId", "Registro")';
        var urlListarRegistroTinta = '@Url.Action("ListarRegistroTinta", "Registro")';
    </script>


    <script src="~/JS/Registro/Equipos/E_Impresoras.js"></script>
    <script src="~/JS/Utils.js"></script>
</body>


